*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/*.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/schemas
/data/backups/
/data/data/
/nzrp
/buildSrc/src/main/kotlin/KeystoreConfig.kt

/app/src/main/res/values/local_keys.xml
**/build/
