/bin
/gen
/build
/.gradle
**api_keys.xml
/scripts
/.idea
**/__pycache__
/releases
/app/build
/*.apk
**.pyc
**.iml
/data/*.db
/data/*.json
/data/*/*.json
/local.properties
/app/keystore.jks
/docs/javadocs
