/bin
/gen
/build
/.gradle
/scripts
/.idea
**/__pycache__
/releases
/app/build
/*.apk
**.pyc
**.iml
#/app/src/main/res/values/google_api_keys.xml
/data/*.db
/data/*.json
/data/*/*.json
/local.properties
/docs/javadocs
